/* @import url("happy_dance.css"); */

* { margin: 0; padding: 0; }

abbr,acronym,blockquote,code,dir,kbd,listing,plaintext,q,samp,tt,var,xmp { hyphens: none; }

html {
    /* padding: 2em; */
	font: normal 18px/1.25 "Source Sans Pro", sans-serif;
	color: #fff;
	hyphens: auto;
	word-wrap: break-word;
	background: #000;
}

body > :first-child {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	color: #fff;
	background: #000;
}


img[alt$=">"] {
    float: right;
}

img[alt$="<"] {
    float: left;
}

img[alt$="><"] {
    display: block;
    /* max-width: 100%; */
    height: auto;
    margin: auto;
    float: none!important;
}

img[alt^="Juniper"] { width: 200px; }

h1 {
    font-size: 2.75rem;
    /* height: 220px; */
	line-height: 1;
	margin: 0;
    /* margin-right: 3.5rem;
	margin-top: 1.5rem;
    margin-bottom: 2.5rem; */
	text-rendering: optimizeLegibility;
}

img[src*='#left'] {
    float: left;
}

img[src*='#right'] {
    float: right;
}

img[src*='#center'] {
    display: block;
    margin: auto;
}
